%font-regular{
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.8px
}

.new{
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  &__img{
    width: 100%;
    height: 100px;
    object-fit: contain;
  }
  &__buttons{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 0 0;
  }
  &__btn{
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    background-color: #C4C4C4;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: background-size .3s,
    background-color .3s;
    &_cut{
      background-image: url("https://crm.centralnoe.ru/dealincom/assets/img/cut.svg");
    }
    &_left{
      background-image: url("https://crm.centralnoe.ru//dealincom/assets/img/arrow-around-left.svg");
    }
    &_right{
      background-image: url("https://crm.centralnoe.ru/dealincom/assets/img/arrow-around-right.svg");
    }
    &_delete{
      background-image: url("https://crm.centralnoe.ru/dealincom/assets/img/button-close.svg");
    }
    &:hover{
      background-size: 40%;
    }
    &:active{
      background-color: #e0e0e0;
    }
  }
  &_inValid{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000cc;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0.5rem;
  }
  &-text{
    color: white;
    font-weight: 700;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.6px;
    user-select: none;
    @extend %font-regular;
  }
}