body{
  margin: 0 auto;
  background-color: #fff;
}
@font-face {
  font-family: 'montserrat';
  src: url("../../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'montserrat';
  src: url("../../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

%font-regular{
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.8px
}


%font-bold{
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.8px
}

#root{
  // max-width: 920px;
  // margin: 0 auto;
  padding: 1rem;
  box-sizing: border-box;
}

input[type='checkbox']{
  margin: 0;
  cursor: pointer;
}

.buttons{
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  &__left, &__right{
    display: flex;
    gap: 1rem;
  }
}

.inVisible{
  display: none;
}