%font-regular{
  font-family: "montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.8px
}
.photo-field{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}
.photo{
  display: flex;
  flex-direction: column;
  position: relative;
  &__img{
    width: 100%;
    object-fit: contain;
    height: 200px;
    background-color: #7a7a7a;
    border-radius: 5px 5px 0 0;
    // pointer-events: none;
  }
  &__bottom{
    border: 1px solid #7a7a7a;
    border-radius: 0 0 5px 5px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  &__check{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @extend %font-regular;
    font-size: 12px;
    color: #737373;
    cursor: pointer;
  }
  &__text{
    @extend %font-regular;
    font-size: 12px;
    color: #737373;
    margin: 0;
    &_hide{
      color: transparent;
    }
  }
  &__mod{
    position: absolute;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    pointer-events: none;
    top: 0.5rem;
    right: 0.5rem;
    &_approved{
      background-color: #BBED21;
      background-image: url("https://crm.centralnoe.ru/dealincom/assets/img/approved.svg");
    }
    &_denied{
      background-color: #ED2121;
      background-image: url("https://crm.centralnoe.ru/dealincom/assets/img/denied.svg");
    }
    &_pending{
      background-color: #d5d5d5;
      background-image: url("https://crm.centralnoe.ru/dealincom/assets/img/question-mark.svg");
    }
  }
  &_over{
    opacity: 0.3;
  }
}